@import url('https://fonts.googleapis.com/css2?family=noto+sans+jp:weight@400;700@display=swap');
body {
    margin: 0;
    background-color: #b7ffd5;
}

html {
    font-family: 'noto sans jp', sans-serif;
}

* {
    box-sizing: border-box;
}